body{
  background-color: var(--bg-color1);
}

.todos {
  display: flex;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 60px;
  box-sizing: border-box;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -2;
    filter: blur(1px);
    transition: all .5s ease;
  }

  &::after {
    right: 0;
    background-color: var( --bg-color1);
  }

  &::before {
    left: 0;
    background-color: var( --bg-color2);
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 70vh;

  position: relative;
  box-shadow:
          rgba(0, 0, 0, 0.09) -2px -2px 2px,
          rgba(0, 0, 0, 0.09) -4px -4px 6px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;

  background: linear-gradient(
                  135deg,
                  rgba(255, 255, 255, 0.1),
                  rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

.openPopup {
}
